<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <div>
        Test Page 입니다!
    </div>
    <ul>
        <li><a href="/members/customer/join">소비자 회원가입</a></li>
        <li><a href="/members/seller/join">판매자 회원가입</a></li>
        <li><a href="/members/admin/join">관리자 회원가입</a></li>
        <li><a href="/members/login">로그인</a></li>
    </ul>

</body>
</html>